{% extends 'store/base.html' %}

{% block title %}
Sipariş Alındı | Lares Home
{% endblock %}

{% block content %}

<main class="min-h-[70vh] flex items-center justify-center px-6">

    <div class="bg-white rounded-3xl p-10 shadow-sm text-center max-w-xl">

        <h1 class="text-4xl font-bold mb-4">
            Siparişiniz Alındı
        </h1>

        <p class="text-neutral-600 mb-8">

            Siparişiniz başarıyla oluşturuldu.
            En kısa sürede sizinle iletişime geçeceğiz.

        </p>

        <a href="/"
           class="bg-black text-white px-8 py-4 rounded-full inline-block">

            Ana Sayfaya Dön

        </a>

    </div>

</main>

{% endblock %}